/* http://meyerweb.com/eric/tools/css/reset/ 
   v2.0 | 20110126
   License: none (public domain)
*/
@import url("https://fonts.googleapis.com/css2?family=Plus+Jakarta+Sans:wght@300&display=swap");
html,
body,
div,
span,
applet,
object,
iframe,
h1,
h2,
h3,
h4,
h5,
h6,
p,
blockquote,
pre,
a,
abbr,
acronym,
address,
big,
cite,
code,
del,
dfn,
em,
img,
ins,
kbd,
q,
s,
samp,
small,
strike,
strong,
sub,
sup,
tt,
var,
b,
u,
i,
center,
dl,
dt,
dd,
ol,
ul,
li,
fieldset,
form,
label,
legend,
table,
caption,
tbody,
tfoot,
thead,
tr,
th,
td,
article,
aside,
canvas,
details,
embed,
figure,
figcaption,
footer,
header,
hgroup,
menu,
nav,
output,
ruby,
section,
summary,
time,
mark,
audio,
video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline;
}

/* HTML5 display-role reset for older browsers */
article,
aside,
details,
figcaption,
figure,
footer,
header,
hgroup,
menu,
nav,
section {
  display: block;
}

body {
  line-height: 1;
}

ol,
ul {
  list-style: none;
}

blockquote,
q {
  quotes: none;
}

blockquote:before,
blockquote:after,
q:before,
q:after {
  content: "";
  content: none;
}

table {
  border-collapse: collapse;
  border-spacing: 0;
}

* {
  margin: 0;
  padding: 0;
  text-decoration: none;
  font-family: Plus Jakarta San;
  box-sizing: border-box;
}

.container {
  max-width: 1300px;
  margin: 0 auto;
  padding: 0 5%;
}

h1 {
  font-size: 50px;
}

h2 {
  font-size: 40px;
}

h3 {
  font-size: 32px;
}

h4 {
  font-size: 24px;
}

h5 {
  font-size: 18px;
  font-weight: 700;
  text-align: left;
}

.hero-banner .container .hero-banner-sec .hero-banner-content .hero-btn .learn-btn, footer .all-footer .form-info button, header .container .header .buttons .login, header .container .header .buttons .signup {
  height: 41px;
  width: 82px;
  font-size: 12px;
  border-radius: 8px;
  padding: 16px, 36px, 15px, 36px;
  background-color: #B8E4DA;
  color: #20484F;
  border-color: transparent;
  font-family: Plus Jakarta Sans;
}

.hero-banner .container .hero-banner-sec .hero-banner-content .hero-btn .sign-btn {
  height: 58px;
  width: 136px;
  border-radius: 8px;
  padding: 16px 36px 15px 36px;
  background-color: #20484F;
  color: white;
  font-family: Plus Jakarta Sans;
}

header {
  background-color: #20484F;
  height: 75px;
  margin: 0 auto;
}
header .container .header {
  display: flex;
  justify-content: space-between;
  align-items: center;
}
header .container .header .menu-icon {
  display: none;
}
header .container .header nav ul {
  display: flex;
  justify-content: space-between;
  align-items: center;
}
header .container .header nav ul li {
  padding: 25px 30px;
}
header .container .header nav ul li a {
  color: white;
  font-family: Plus Jakarta Sans;
}
header .container .header .buttons {
  display: flex;
}
header .container .header .buttons .login {
  background-color: #20484F;
  color: white;
}

@media only screen and (max-width: 991px) {
  header .container .header {
    padding: 20px 40px;
  }
  header .container .header nav {
    display: none;
  }
  header .container .header .buttons {
    display: none;
  }
  header .container .header .menu-icon {
    display: block;
  }
}
footer {
  height: 385px;
  background-color: #20484F;
}
footer .all-footer {
  height: 100%;
  width: 100%;
  padding: 75px 0;
  display: flex;
  flex-direction: column;
  align-items: center;
}
footer .all-footer .form-info {
  height: 100%;
  width: 100%;
  display: flex;
  justify-content: space-between;
  align-items: center;
}
footer .all-footer .form-info button {
  color: black;
  height: 25px;
}
footer .all-footer .form-info .input {
  height: 25px;
  width: 190px;
  border-radius: 8px;
  border: 1px solid #B8E4DA;
}
footer .all-footer .form-info form {
  width: 50%;
}
footer .all-footer .form-info form h3 {
  color: white;
  margin-bottom: 30px;
}
footer .all-footer .form-info form .form-boxs {
  height: 100%;
  display: flex;
  flex-direction: column;
  gap: 20px;
  margin-bottom: 20px;
}
footer .all-footer .form-info form .form-boxs .left-boxs,
footer .all-footer .form-info form .form-boxs .right-boxs {
  display: flex;
  gap: 10px;
}
footer .all-footer .form-info form .form-boxs .left-boxs label,
footer .all-footer .form-info form .form-boxs .right-boxs label {
  color: white;
}
footer .all-footer .form-info .right-info {
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 50%;
  height: 100%;
}
footer .all-footer .form-info .right-info h5 {
  color: white;
  margin-bottom: 16px;
}
footer .all-footer .form-info .right-info ul li {
  margin-bottom: 16px;
}
footer .all-footer .form-info .right-info ul li a {
  color: #DCF2ED;
}
footer .logo-end {
  height: 70px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  justify-content: center;
}
footer .logo-end h5 {
  color: white;
}

@media only screen and (max-width: 991px) {
  footer {
    height: 100%;
  }
  footer .all-footer {
    height: 100%;
  }
  footer .all-footer .form-info {
    display: block;
    width: 100%;
  }
  footer .all-footer .form-info form {
    height: 100%;
    width: 100%;
    display: block;
    margin-bottom: 40px;
  }
  footer .all-footer .form-info .right-info {
    display: flex;
    width: 100%;
  }
}
.hero-banner {
  background-color: #FAFAFA;
  height: 825px;
  padding: 80px;
}
.hero-banner .container .hero-banner-sec {
  width: 100%;
  height: 100%;
  display: flex;
  justify-content: space-between;
  align-items: center;
  gap: 110px;
}
.hero-banner .container .hero-banner-sec .hero-banner-content h5 {
  margin-bottom: 24px;
  font-family: Plus Jakarta Sans;
}
.hero-banner .container .hero-banner-sec .hero-banner-content p {
  font-family: Plus Jakarta Sans;
  font-size: 64px;
  margin-bottom: 48px;
  font-weight: 700;
}
.hero-banner .container .hero-banner-sec .hero-banner-content .hero-btn .sign-btn {
  border-color: transparent;
}
.hero-banner .container .hero-banner-sec .hero-banner-content .hero-btn .learn-btn {
  height: 58px;
  width: 168px;
  padding: 16px 36px 15px 36px;
  background-color: white;
  border: 1px solid rgba(32, 72, 79, 0.1019607843);
}
.hero-banner .container .hero-banner-sec .hero-banner-img {
  width: 50%;
}

@media only screen and (max-width: 991px) {
  .hero-banner {
    height: 100%;
  }
  .hero-banner .container .hero-banner-sec {
    display: block;
    padding: 0 10%;
  }
  .hero-banner .container .hero-banner-sec .hero-banner-content {
    width: 100%;
    margin-bottom: 50px;
  }
  .hero-banner .container .hero-banner-sec .hero-banner-content p {
    font-size: 50px;
  }
  .hero-banner .container .hero-banner-sec .hero-banner-content .hero-banner-img {
    width: 100%;
  }
}
.team {
  height: 1200px;
  background-color: #FAFAFA;
}
.team .container .all-team .team-info {
  display: flex;
  justify-content: space-between;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  margin-bottom: 64px;
}
.team .container .all-team .team-info h2 {
  font-family: Plus Jakarta Sans;
  font-weight: 700;
  color: #072125;
  height: 50px;
  width: 570px;
}
.team .container .all-team .team-info p {
  font-family: Plus Jakarta Sans;
  font-weight: 400;
  color: #072125;
  height: 48px;
  width: 495px;
  margin-top: 16px;
  text-align: center;
}
.team .container .all-team .team-members {
  display: flex;
  justify-content: space-between;
  align-items: center;
  justify-content: center;
  gap: 57px;
}
.team .container .all-team .team-members .members-left {
  width: 50%;
  display: flex;
  gap: 57px;
  margin-bottom: 63px;
}
.team .container .all-team .team-members .members-right {
  width: 50%;
  display: flex;
  gap: 57px;
  margin-bottom: 63px;
}
.team .container .all-team .team-members .card {
  border-radius: 12px;
}
.team .container .all-team .team-members .card img {
  margin-bottom: 16px;
}
.team .container .all-team .team-members .card h4 {
  margin-bottom: 8px;
}
.team .container .all-team .team-members .card p {
  margin-bottom: 30px;
}
.team .container .all-team .team-members .card .icon {
  display: flex;
  -moz-column-gap: 40px;
       column-gap: 40px;
  margin-bottom: 63px;
}
.team .container .all-team .team-members .card .icon a {
  color: black;
}

@media only screen and (max-width: 991px) {
  .team {
    height: 100%;
  }
  .team .container .all-team {
    height: 100%;
    display: flex;
    flex-direction: column;
  }
  .team .container .all-team .team-members {
    height: 100%;
    display: block;
    padding: 0 15%;
  }
}
@media only screen and (max-width: 767px) {
  .team .container .all-team .team-members .members-left, .team .container .all-team .team-members .members-right {
    height: 100%;
    width: 100%;
    display: block;
    margin: 0 15%;
  }
}
.team {
  height: 1200px;
  background-color: #FAFAFA;
}
.team .container .all-team .team-info {
  display: flex;
  justify-content: space-between;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  margin-bottom: 64px;
}
.team .container .all-team .team-info h2 {
  font-family: Plus Jakarta Sans;
  font-weight: 700;
  color: #072125;
  height: 50px;
  width: 570px;
}
.team .container .all-team .team-info p {
  font-family: Plus Jakarta Sans;
  font-weight: 400;
  color: #072125;
  height: 48px;
  width: 495px;
  margin-top: 16px;
  text-align: center;
}
.team .container .all-team .team-members {
  display: flex;
  justify-content: space-between;
  align-items: center;
  justify-content: center;
  gap: 57px;
}
.team .container .all-team .team-members .members-left {
  width: 50%;
  display: flex;
  gap: 57px;
  margin-bottom: 63px;
}
.team .container .all-team .team-members .members-right {
  width: 50%;
  display: flex;
  gap: 57px;
  margin-bottom: 63px;
}
.team .container .all-team .team-members .card {
  border-radius: 12px;
}
.team .container .all-team .team-members .card img {
  margin-bottom: 16px;
}
.team .container .all-team .team-members .card h4 {
  margin-bottom: 8px;
}
.team .container .all-team .team-members .card p {
  margin-bottom: 30px;
}
.team .container .all-team .team-members .card .icon {
  display: flex;
  -moz-column-gap: 40px;
       column-gap: 40px;
  margin-bottom: 63px;
}
.team .container .all-team .team-members .card .icon a {
  color: black;
}

@media only screen and (max-width: 991px) {
  .team {
    height: 100%;
  }
  .team .container .all-team {
    height: 100%;
    display: flex;
    flex-direction: column;
  }
  .team .container .all-team .team-members {
    height: 100%;
    display: block;
    padding: 0 15%;
  }
}
@media only screen and (max-width: 767px) {
  .team .container .all-team .team-members .members-left, .team .container .all-team .team-members .members-right {
    height: 100%;
    width: 100%;
    display: block;
    margin: 0 15%;
  }
}/*# sourceMappingURL=main.css.map */