%btn-dark-green {
    height: 41px;
    width: 82px;
    font-size: 12px;
    border-radius: 8px;
    padding: $btn-padding;
    background-color: $primary-green;
    color: $color-dark-green;
    border-color: transparent;
    font-family: $font-family;
  }
  %primary-btn {
    height: 58px;
    width: 136px;
    border-radius: 8px;
    padding: 16px 36px 15px 36px;
    background-color: $color-dark-green;
    color: $color-white;
    font-family: $font-family;
  }